<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" >
    <title>Document</title>
</head>
<body>
<div id="app">
    <h2>人员列表</h2>
    <input type="text" v-model="keyWord">
    <ul v-for="(p, index) in filPersons" :key="p.id">
        <li>{{p.id}}-{{p.name}}-{{p.age}}-{{p.sex}}</li>
    </ul>
</div>
</body>
<script src="https://unpkg.com/vue"></script>
<script>
    Vue.config.devtools = true;
    const app=new Vue({
        el:'#app',
        data:{
            keyWord:'',
            persons:[
                {id:'001',name:'马冬梅',age:19,sex:'女'},
                {id:'002',name:'周冬雨',age:20,sex:'女'},
                {id:'003',name:'周杰伦',age:21,sex:'男'},
                {id:'004',name:'大盖伦',age:22,sex:'男'}
            ],
            filPersons:[]
        },
        watch:{
            keyWord:{
                immediate:true,
                handler(val){
                    this.filPersons=this.persons.filter(function(p){
                        return p.name.indexOf(val)!==-1;
                    })
                }
            }
        }
    })
</script>
</html>